:root {
    --main-clr: rgb(242, 239, 239);
    /* --accent-clr: rgb(200, 100, 50); */
    --accent-clr: rgb(23, 241, 114);

    --text-clr-dark: rgba(0,0,0,0.8);
    --text-clr-light: rgba(255,255,255,0.8);
    --text-bgnd: rgba(77, 74, 74, 0.9);
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--main-clr);
}

html {
    scroll-behavior: smooth;
    font-size: 16.5px;
}

body {
    font-family: Tahoma, Times, 'Times New Roman', serif;
    min-width: 360px;
    position: relative;
    background-color: var(--text-bgnd);
}

em {
    color: var(--text-clr-dark);
}

/* -----------------------------------------------------------------------------------------------NAVBAR */

.navbar {
    background-color: rgb(0, 0, 0, 0.8);
    /* background-color: rgb(100, 252, 201, 0.85); */
    /* position: fixed; */
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 50px;
    grid-auto-flow: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    z-index: 1;
    color: var(--main-clr);
    align-items: center;
}

.logo {
    font-family:  Verdana, sans-serif;
    font-weight: 800;
}

.logo__thin {
    font-weight: 100;
    color: var(--accent-clr);
}

.navbar img {
    width: 150px;
}

.navbar > ul {
    display: none;
    /* opacity: 0; */
    /* width: 40%; */
    flex-direction: column;
    list-style: none;
    position: absolute;
    /* padding: 20px; */
    top: 55px;
    right: 0;
    color: #eee;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.9);
    transition: all 500ms ease-in-out;
}

.navbar > ul > li {
    /* margin: 10px 0; */
    color: #eee;
    position: relative;
    padding: 15px 10px;
    background-color: rgb(0, 0, 0, 0);    
}

.navbar > ul > li > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: var(--accent-clr);
    transform: scaleX(0);
    
    transform-origin: left;
    transition: transform 300ms ease-in;
}

.navbar > ul > li > a:hover::before {
    transform: scaleX(1);
}

.navbar > ul > li > a {
    text-decoration: none;
    padding: 10px 5px;
}

.btn-burger {
    display: block;
    /* outline: 1px solid lightgrey; */
    cursor: pointer;
}

.burger {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: var(--main-clr);
    border-radius: 3px;
    transform-origin: left;
    transition: transform 300ms ease-in, opacity 500ms ease-in;
}

/* -----------------------------------------------------------------------------------------------HEADER */

.header {
    background-color: burlywood;
    background-image: url('./images/Raihan-1.jpg');
    /* background-image: url('./images/tmm_brochure_photos-003.jpg'); */
    filter: grayscale(60%);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    position: relative;
    /* margin: 10px; */
    /* margin-bottom: 100px; */
    
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

.header-caption {
    font-size: 220%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    margin: auto auto;
    z-index: -1;
}

.header-caption > h2 {
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -----------------------------------------------------------------------------------------------SECTIONS */

section > h3{
    border-bottom: 2px solid darkgreen;
    color: black;
    font: 45px "comic sans MS", sans-serif;
    clear: right;
}

section {
    min-height: 100vh;
    padding: 100px 30px;
    background-color: #eee;
    border-bottom: 2px solid var(--accent-clr);
}


section > h1 {
    margin-bottom: 10px;
    color: var(--text-clr-dark);
    border-left: 5px solid var(--accent-clr);
    padding-left: 5px;
}

section > p {
    color: var(--text-clr-dark);
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;
    position: relative;
}

section > p:hover::before {
    content: '';
    position: absolute;
    top: 1em;
    left: -0.5em;
    border: 6px solid;
    border-color: transparent transparent transparent var(--accent-clr) ;
}

section img {
    border: 2px solid var(--accent-clr);
    /* filter: sepia(80%); */
    width: 100%;
    height: 60vh;
    margin: 20px 0;
    object-fit: cover;
    background-position: top;
    /* position: absolute;
    top: 0;
    z-index: -1; */
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.img-box { 
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px 30px 30px 30px;
    overflow: hidden;
    /* width: 400px;
    height: 400px; */
}

.img-box img {
    width: 250px;
    height: 250px;
}

/* --------------------------------------------------------------------------------------------MEDIA QUERIES */

@media (min-width:700px) {
    .burger {
        display: none;
    }
    
    .navbar {
        grid-template-columns: minmax(200px, 1fr) 1fr;
    }

    .navbar > ul {
        position: relative;
        padding: 8px 20px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        z-index: 1;
        transition: all 300ms ease-in;
        top: 0;
        background-color: rgb(0, 0, 0, 0);
    }
    
    .navbar > ul > li {
        padding: 0 10px;
    }

    .navbar > ul > li:hover {
        background-color: rgba(0,0,0,0.6);
    }

    .navbar > ul > li > a::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 2px;
        background-color: var(--accent-clr);
        transform: scaleX(0);
        
        transition: transform 300ms ease-in;
        transform-origin: center;
    }
}

/*---------------------------------------------------------------------------------------------------------FAMILY*/

.sec2 > p > img{
    margin-left: 20px; 
    float: right;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}
/*-----------------------------------------------------------------------------------------------------------FRIENDS   */

section > p{
    color: black;
    padding-top: 10px;
}
.sec5 > p > img{
    margin-left: 20px; 
    float: right;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}
.name{
    font: 20px "comic sans MS", sans-serif;
    color: black;
    font-weight: bold;
}
.Insta{
    font: 20px arial;
    color: black;
    font-weight: bold;
}

/*
@media (max-width:700px) {
    .burger {
        display: block;
    }
    
    .navbar {
        grid-template-columns: minmax(200px, 1fr) 50px;
    }
    
    .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        display: inline;
    }

    .navbar > ul {
        display: none;
        flex-direction: column;
        padding: 60px 20px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(175, 169, 169, 0.9);
        color: #eee;
        z-index: 1;
    }
    
    .navbar > ul > li {
        margin: 10px 0;
        color: #eee;
    }

    .navbar > ul > li:hover {
        background-color: rgba(0,0,0,0.6);
    }


    .navbar > ul > li > a::before {
        transform-origin: left;
        transition: transform 300ms ease-in;

    }
}

*/